.single-todo-container {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h3 {
    font-size: 2.5em;
    border-bottom: 1px solid #1a1717;

}

p {
    font-size: 2em;
    display: block;
}

.todo-header {
    overflow-y: auto;
    display: flex;
    justify-content: space-between;

    border-bottom: 5px solid #757171;
}

.title-container {
    margin: 1em 0 1em 1em;
}

.todo-description {
    margin: 1em 0 1em 1em;

    white-space: pre-wrap;

    word-wrap: break-word;
    overflow-wrap: break-word;
}

.description-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

button {
    margin: 1em;
    padding: 0.5em 1em;
    font-size: 2rem;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.update-button {
    background-color: #28a745;
}

.delete-button {
    background-color: #dc3545;
}