footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
 
}

.center-container {
    text-align: center;
    font-size: 1.5em;
}

a {
    color: #333;
}